@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');
.slider{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    background: linear-gradient(to left, #bdbbba, #f6f6f6);
    z-index: -1;
}
.slider_X{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(to left, #bdbbba, #f6f6f6);
    z-index: -1;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;

}
#logo {
    grid-column: 2/3;
    font-size: 24px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}


section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

}
.headline{
    font-family: 'Open Sans', sans-serif; 
}
.hamburger {
    justify-self: end;
    position: relative;
}
.hamburger a{
    margin: 0 1rem;
    text-decoration: none;
    padding: 1rem .5rem;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
.hamburger ul {
    width: 200px;
    text-align: center;
    position: absolute;
    background: linear-gradient(to right, #d1cdcd, #807f7f);
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0, .25);
    margin-top: 10px;
    border-radius: 7px;
    display: none;
}
.hamburger ul li {
    padding: .5rem;
}
.hamburger ul li:hover {
    background: linear-gradient(to right, #8a8989, #575656);
    border-radius: 7px;
}
.hamburger ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.hamburger a:focus + ul,
.hamburger a:hover + ul,
.hamburger ul:hover {
    display: block;
}
.Text1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    animation: MyAnimation 2s;
    
}

h2 {
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    border: 1px black;  
    text-decoration: underline;
    padding: 10px;
    
    
    
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: grey;
}


@keyframes MyAnimation {
    from {
        opacity: 0;
        transform: rotateX(-30deg);
        
    }
    to {
        opacity: 1;
        transform: rotatex(0);
        
    }
}


footer {
    text-align: center;
    
}
footer p {
    font-family:  'Open Sans', sans-serif;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

#Popup_Button {
    font-family:  'Open Sans', sans-serif;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-width: 3px;
    padding-top: 3px;
    display: inline-block;
    background-color: transparent;
    border-radius: 20px;
    transition: width 1s, height 1s, font-size 1s, border-radius 1s;
}
#Popup_Button:hover {
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
}
#Information_Popup {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    border-style: solid 20px;;
    text-align: center;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    background: linear-gradient(#8a8989, #575656);
    transform: translate(-50%, -50%);
    animation: popup_animation 1s;
    opacity: 1;
}
#MyPopup_Text {
    font-family: 'Anton', sans-serif;
    margin-top: 30px;
    font-size: 20px;
}
@keyframes popup_animation {
    from {
        opacity: 0;
        width: 200px;
        height: 150px;
    }
    to {
        opacity: 1;
        width: 400px;
        height: 300px;
    }
}
#myform {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 30px;
    border: solid 2px black;
}
#MyInputStyle {
    background: transparent;
    color: black;
    height: 20px;
    margin: 10px;
    font-size: 15px;
    outline: none;
}
#SubmitButton {
    padding: 5px 50px;
    text-align: center;
    border-radius: 10px;
    outline: none;

}
