@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #bdbbba, #f6f6f6);
    z-index: -1;
    
}
nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;

}
#logo {
    grid-column: 2/3;
    font-size: 24px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    
}



section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    border-color: black;
    border-width: 10px;
}
.hero{
    height: 60%;
    width: 40%;
}
.headline{
    font-family: 'Open Sans', sans-serif; 
}
.hamburger {
    justify-self: end;
    position: relative;
}
.hamburger a{
    margin: 0 1rem;
    text-decoration: none;
    padding: 1rem .5rem;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
.hamburger ul {
    width: 200px;
    text-align: center;
    position: absolute;
    background: linear-gradient(to right, #d1cdcd, #807f7f);
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0, .25);
    margin-top: 10px;
    border-radius: 7px;
    display: none;
}
.hamburger ul li {
    padding: .5rem;
}
.hamburger ul li:hover {
    background: linear-gradient(to right, #8a8989, #575656);
    border-radius: 7px;
}
.hamburger ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.hamburger a:focus + ul,
.hamburger a:hover + ul,
.hamburger ul:hover {
    display: block;
}















